<!DOCTYPE html>
<html>
    <head>
        <title>Evaporation in Hydrological Cycle</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/index.css' />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        <div class="navbar">
            <a class="navlink" href="/">Home <i class="fas fa-angle-down"></i></a>
            <a class="navlink">About Us <i class="fas fa-angle-down"></i></a>
            <a class="navlink" href="/plot">Plot <i class="fas fa-angle-down"></i></a>
            <div class="dropdown">
                <button class="dropbtn">
                    Dropdown 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">February</a>
                    <a href="#">Yearly</a>
                    <a href="#">Predictions</a>
                </div>
            </div> 
        </div>
        <center>
            <div class="card-wrapper">
                <div class="card-img"></div>
                <div class="card-content">
                    <span class="content-title"><b>Evaporation</b> in Hydrological Cycle</span>
                </div>
            </div>
        </center>
    </body>
</html>