<div class="navbar">
    <a class="navlink" href="/">Home</a>
    <a class="navlink">About Us</a>
    <a class="navlink" href="/plot">Plot</a>
    <div class="dropdown">
        <button class="dropbtn">
            Dropdown 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">February</a>
            <a href="#">Yearly</a>
            <a href="#">Predictions</a>
        </div>
    </div>
</div>