<!DOCTYPE html>
<html>
    <head>
        <title> Plot </title>
        <link rel="stylesheet" href="/stylesheets/plot.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <% include navbar.ejs %>
        <div class="body">
            <h3></h3>
            <div class="form-div">
                <form action="/view" method="POST" enctype="multipart/form-data">
                    <h3>Potential Soil Evaporation</h3>
                    <label>Upload Data</label><br>
                    <input type="file" name="data"><br><br>
                    <input type="submit" value="Plot Graph">
                </form>
            </div>
            <div class="form-div">
                <form action="/play" method="POST" enctype="multipart/form-data">
                    <h3>Soil Evaporation in DA-IICT 2019 (June - Sept)</h3>
                    <label>RA Value:</label><br>
                    <input type="file" name="ra_value"><br><br>
                    <label>Temperature Value:</label><br>
                    <input type="file" name="temp_value"><br><br>
                    <input type="submit" value="Plot Graph">
                </form>
            </div>

        </div>
    </body>
</html>