<!DOCTYPE html>
<html>
    <head>
        <title> Plot </title>
    </head>
    <body>
        <form action="/view" method="POST" enctype="multipart/form-data">

            <label>Upload File: </label><input type="file" name="data"><br>
            <input type="submit">
        </form>
    </body>
</html>