<!DOCTYPE html>
<html>
    <head>
        <title> Source Code </title>
        <link rel="stylesheet" href="/stylesheets/plot.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <% include navbar.ejs %>
        <div class="body">

        <div class="scr">
            <script src="https://gist.github.com/sanket143/8441f6266ec3d85e551e08395c0bab8f.js"></script>
        </div>
        </div>
    </body>
</html>