body {
  background: url("/images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background: #0000001a;
}

.plot-wrapper {
    border: 1px solid #ccc;
    margin: 10px;
}

.label {
    font-family: sans-serif;
    font-size: 22px;
    margin: 0;
    background-color: #ddd;
    padding: 10px;
}